.quadro, .quadro1{
    		font-family: 'Poppins';
    		font-size: 10pt;
    		background-color: #fff;
    		text-align: justify;
		}
		.quadro1{
			display: inline-flex;
    		flex-direction: row;
    		justify-content: center;
			width: 100%;
		}
		.imgQuadro{
			height: 220px;
    		box-shadow: 2PX 4px 6px gray;
		}
		.center{
			display: block;
    		text-align: -webkit-center;
		}
		.q1{
			display: block;
			margin: 18px;
		}
		.textq1{
			width: 335px;
    		padding-top: 25px;
		}
		.imgAtividadeExtra{
			height: 220px;
			border-radius: 50px;
			padding-left: 5px;
		}
		.atividadeExtra{
			height: 265px;
		}
		.tituloAtividadeExtra{
			text-align: center;
    		font-size: 25px;
		}
		.tituloAtividadeExtra1{
			text-align: center;
    		font-size: 25px;
		}
		.quadroAtividade{
			display: flex;
    		font-family: 'Poppins';
    		font-size: 12pt;
    		background-color: #fff;
    		text-align: justify;
    		height: 350px;
		}
		.fundo{
		  margin-bottom: 0px;
		}
		h2{
			display: block;
    		font-size: 1.5em;
    		margin-block-start: 0.83em;
    		margin-block-end: 0.83em;
    		margin-inline-start: 0px;
    		margin-inline-end: 0px;
    		font-weight: bold;
		}
		.contentQcs h2 {
			text-shadow: 0px 0px 0px;
    		color: #848181;
    		font-size: 25pt;
    		margin: 0px;
    		margin-top: 50px;
		}
		.contentPagina{
			min-width:100vw;
			min-height: 100vh;
			display:inline-flex;
			/*flex-direction: row;*/
			justify-content: center;
    		background-image: url();
    		background-attachment: fixed;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: center 0px;
			background: url(../img/fundopag.png);
			background-attachment: fixed;
		    font-size: 10pt;
		
		}
		.infantilContent{
			display: inline-flex;
			flex-direction: row;
			width:960px;
		}
		.infantilExtraBaixo{
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.infantilExtra{
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.imgAtividadesExtras{
			width: 190px;
			height: 220px;
		}
		.imgAtividadesExtrasBaixo{
			width: 190px;
			height: 220px;
		}
		.atividadeExtra{
			box-shadow: 4px 3px 7px 1px gainsboro;
    		padding-bottom: 0px !important;
			width: 190px;
		}
		.atividadeExtra div{
			background-image: linear-gradient(#b3abab, #292828);
    		color: white;
    		padding: 7px;
    		text-align: center;
		}
		.atividadeExtraBaixo{
			box-shadow: 4px 3px 7px 1px gainsboro;
    		padding-bottom: 0px !important;
			width: 190px;
			opacity:0;
			transform: translate(80px,0);
			-webkit-transform:translate(80px,0);
		}
		#ImgA2,#ImgB2,#ImgC2,#ImgD2,#ImgE2{
			transition: all .9s;
		}
		.atividadeExtraBaixo div{
			background-image: linear-gradient(#b3abab, #292828);
    		color: white;
    		padding: 7px;
    		text-align: center;
		}
		.layout{
			width:100%;
			justify-content: center;
    		display: flex;
    		background-size: cover;
		}
		.contContato {
    		position: inherit;
    		padding-left: 50px;
		}
		.imagem1{
			display: none;
		}
		.imagem2{
			display: block;
		}
		#imagem22{
			opacity:0;
			transform: translate(0px,80px);
			-webkit-transform:translate(0px,80px);
			transition: 1s all .4s;
		}
		.atividadeExtra{
			opacity:0;
			transform: translate(80px,0);
			-webkit-transform:translate(80px,0);
		}
		#ImgA{
            transition: all .5s;
		}
		#ImgB{
            transition: all 1s;
		}
		#ImgC{
            transition: all 1.5s;
		}
		#textoParteSuperiorQuadro{
			width: auto;
			font-size: 10pt;
			padding-top: 50px;
	}
	#textoParteSuperiorQuadro span:nth-child(even){
		transition: 1s all .3s;
	}
	#textoParteSuperiorQuadro span:nth-child(odd) {
		transition: 1s all .4s;
	}
	#textoParteSuperiorQuadro span{
		display:inline-block;
		opacity: 0;
		-ms-transform:translate(-50px,0px);
		transform:translate(-50px,0px);
	}
	
	#textoParteSuperiorQuadro span.open{
		opacity: 1;
		-ms-transform:translate(0px,0px);
		transform:translate(0px,0px);
	}
	.tituloPagina{
	    color: #ffdf00;
    font-size: 24pt;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 10px;
}
.menino{
	width: 344px;
}
.contentPagina2{
	width: 960px;
	height: 940px;
}
@media only screen and (max-width: 700px){
	.menino{
		display: none;
	}
	.contContato{
		display: none;
	}
	
	.infantilContent{
		width: auto;
		height: auto;
	}
	.infantilExtra{
		justify-content: center;
	}
	.imagem1{
		display: none;
	}
	.imagem2{
		display: none;
	}
	#MbMap{
		width: auto;
	}
	.atividadeExtra{
		margin: 5PX;
	}
	#textoParteSuperiorQuadro{
		width: 75vw;
	}
	.contentPagina2{
		width: 75vw;
    	height: auto;
    	display: inline-flex;
    	flex-direction: column;
    	flex-wrap: wrap;
	}
}